button{
    background-color: #6200ee;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.tab{
    width: 65vw;
    height: 60vh;
    overflow-y: scroll;
    
}   